body {
    background-position: bottom center;
    background-size: cover;
}

.home--destination{
    background-image: url(./assets/destination/background-destination-mobile.jpg);
}

main {
    flex-direction: column;
    --gap: 3rem; 
    align-items: center;
    padding-bottom: 6rem;
}

.image-destination{
    height: 14rem;
    aspect-ratio: 1;
}

.tab-list{
    justify-content: center;
}

.grid-container{
    row-gap: 3rem;
}

.travel-details{
    flex-direction: column;
    --gap: 2rem;
}

.travel-details>*{
    margin-inline: auto;
    flex: 1;
}

hr{
    margin-block: 3rem;
}

span {
    margin: 0;
}

@media (min-width: 35em){

    .home--destination{
    background-image: url(./assets/destination/background-destination-tablet.jpg);
    }
    main{
        margin-block: 2rem;
    }

    .numbered-title{
        align-self: start;
        margin-left: clamp(1.5rem, 5vw, 3.5rem);
    }

    .image-destination{
        height: 18rem;
        aspect-ratio: 1;
    }

    .grid-container{padding: 0}

    .travel-details{
        flex-direction: row;
        --gap: 2rem;
    }

}

@media (min-width: 45em){
    .home--destination{
    background-image: url(./assets/destination/background-destination-desktop.jpg);
    }

    main {
        padding-bottom: 3rem;
        align-items: center;
    }

    .grid-container>*{
        padding-inline: 0rem;
    }

    .image-destination{
        height: clamp(18rem, 50vw ,28rem);
        aspect-ratio: 1;
    }

    .image-div{
        margin-right: 1rem;
    }

    article{
        margin-left: 1rem;
    }

    .tab-list{
        justify-content: left;
    }

    .travel-details>*{
        margin: 0;
        text-align: left;
    }
}

/*Destination image*/